[Unit]
Description=MediaMTX service
After=network.target
StartLimitIntervalSec=0
[Service]
Type=simple
Restart=always
RestartSec=1
User=emanners
ExecStart=/usr/local/bin/mediamtx /usr/local/etc/mediamtx.yml

[Install]
WantedBy=multi-user.target
